#block-text.block
  .content
    %h2.title=I18n.t("dashboard")
    .inner
      %p.first
        La cosa es así... Tenés plata que entra y sale a cada rato... No te pasa que cada dos por tres te preguntás: uhh che, en qué gasté esto? Y eso que me habían pagado, cuándo fue?

      %p La propuesta es bastante simple, poné un valor, una fecha y etiquetalo (es decir, decí a que cosas se refiere).

      %p Un ejemplo sería: -10 $ 02/10/2010 super, yerba. Que significaría que el 2 de Oct gastaste 10 $ en el super, en particular en yerba.

      %p La idea es que al tiempo puedas volver y ver cómo va "evolucionando" (o no :P jaja) tu bolsillo...

-content_for :sidebar, partial("base/sidebar")
