.group
  =f.label :amount
  =f.error_message_on :amount
  =f.text_field :amount, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :currency
  =f.error_message_on :currency
  =f.text_field :currency, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :datetime
  =f.error_message_on :datetime
  =f.text_field :datetime, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :concepts
  =f.error_message_on :concepts
  =f.text_field :concepts, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :account_id
  =f.error_message_on :account_id
  =f.text_field :account_id, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:money, :index)}';return false", :class => :button